{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="header">Đăng ký</div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="id_confirm_password">Xác nhận mật khẩu</label>
                {{ form.confirm_password }}
            </div>
            <div class="button-group">
                <button type="submit" class="btn">Đăng ký</button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: green;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>