{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="header">Đăng ký</div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {% if field.label == "Username" %}
                            Tên
                        {% elif field.label == "Email" %}
                            Gmail
                        {% elif field.label == "Password" %}
                            Mật khẩu
                        {% elif field.label == "Confirm password" %}
                            Nhập Lại Mật khẩu
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="button-group">
                <button type="submit" class="btn">Đăng ký</button>
            </div>
            <p style="text-align: center;">Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập ngay</a></p>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: green;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>